@using TaskManager.Model;
@{
    Layout = null;
    List<T_Base_Class> lst = ViewBag.lst;

    int pageSize = ViewBag.pageSize;
}

<form id="pagerForm" method="post" action="/Admin/TaskClass/Index">
    <input type="hidden" name="status" value="${param.status}">
    <input type="hidden" name="keywords" value="${param.keywords}" />
    <input type="hidden" name="pageNum" value="1" />
    <input type="hidden" name="numPerPage" value="${model.numPerPage}" />
    <input type="hidden" name="orderField" value="${param.orderField}" />
</form>

<div class="pageHeader">
    <form onsubmit="return navTabSearch(this);" action="/Admin/TaskClass/Index" method="post">
        <div class="searchBar">
            <!--<ul class="searchContent">
                <li>
                    <label>我的客户：</label>
                    <input type="text"/>
                </li>
                <li>
                <select class="combox" name="province">
                    <option value="">所有省市</option>
                    <option value="北京">北京</option>
                    <option value="上海">上海</option>
                    <option value="天津">天津</option>
                    <option value="重庆">重庆</option>
                    <option value="广东">广东</option>
                </select>
                </li>
            </ul>
            -->
            <table class="searchContent">
                <tr>
                    <td>
                        班级：<input type="text" name="keyword" />
                    </td>
                </tr>
            </table>
            <div class="subBar">
                <ul>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>

                </ul>
            </div>
        </div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" href="/Admin/TaskClass/Add" target="navTab"><span>添加</span></a></li>
            @*<li><a class="delete" href="/Student/Delete?id={StudentId}" target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>*@
            <li class="">
                <a title="确实要删除这些记录吗?" target="selectedTodo" rel="ids" href="/Admin/TaskClass/Delete" class="delete">
                    <span>删除</span>
                </a>
            </li>

        </ul>
    </div>
    <table class="table" width="100%" layoutH="138">
        <thead>
            <tr>
                <th style="width: 18px; cursor: default;" class="">
                    <div class="gridCol" title="">
                        <input type="checkbox" group="ids" class="checkboxCtrl">
                    </div>

                <th width="120">编号</th>
                <th width="120">班级</th>
                <th width="120">班主任</th>
                
                <th style="width: 100px;">操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (T_Base_Class item in lst)
            {
                <tr target="Id" rel="@item.Id">
                    <td style="width: 18px;">
                        <div>
                            <input name="ids" value="@item.Id" type="checkbox">
                        </div>
                    </td>
                    <td>@item.Id</td>                  
                    <td>@item.Name</td>
                    
                    <td>@item.Teacher.Name</td>
                    <td>
                        <a title="编辑" target="navTab" href="/Admin/TaskClass/ClassEdit?id=@item.Id" class="btnEdit">编辑</a>
                        <a title="删除" target="ajaxTodo" href="/Admin/TaskClass/Delete?ids=@item.Id" class="btnDel">删除</a>
                    </td>
                </tr>
                        }
        </tbody>
    </table>
    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select id="pageSize" class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            <span>条，共 @ViewBag.recordCount 条</span>
        </div>
        <div class="pagination" targetType="navTab" totalCount="@ViewBag.recordCount" numPerPage="@ViewBag.pageSize" pageNumShown="5" currentPage="@ViewBag.pageIndex"></div>
    </div>
</div>

<script>
    var size = @pageSize;
    $("#pageSize option").each(function(){
        if($(this).val()== size) {
            $(this).attr("selected",true);
        }
    });
</script>
